
*{
    background-color: rgb(84, 80, 80);
}

.boxes{
    margin: auto;
    /* border: 2px solid black; */
    height: 550px;
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.box{
    width: 150px;
    height: 150px;
    border: 10px solid white	;
    border-radius: 20px;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid white; */
}
.button button{
    width: 150px;
    /* text-decoration: none; */
}
.button button a{
    text-decoration: none;
    color: white;
}
.box1{
    background-color: #dd4b3e	;

}
.box2{
    background-color:#3edd4b	;
}
.box3{
    background-color: #4b3edd;
}
.box4{
    background-color: #ffea37;
}

h2{
    margin: auto;
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}


/* script class.. */
.boxes .flash{
    background-color: white;
       border-color: black;
       box-shadow: 3px 3px 2px;
       scale: 1.2;
}
.name{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.name p{
    font-size: 1.3rem;
}
span{
    color: red;
}
.userflash{
    background-color: white;
    border-color: black;
    box-shadow: 3px 3px 2px;
    scale: 1.2;
}

h1{
    position: absolute;
    top: 37vh;
    left: 32vw;
    color: white;
    font-family: cursive;
    font-size: 5rem;
    
}
.blur{
    opacity: 0.3;
}
